html
    head
        title myAPP
        body(class='my-class')
            h1(id='my-id') my app
            p
                h3 sub head
                ul
                    each val in list
                        li=val